shamefully-hoist=true
public-hoist-pattern[]=*@mui*
public-hoist-pattern[]=*@emotion*
public-hoist-pattern[]=*@tanstack*
public-hoist-pattern[]=*@vitejs*
public-hoist-pattern[]=*@testing-library*
public-hoist-pattern[]=*@playwright*
public-hoist-pattern[]=*@types*

strict-peer-dependencies=false
auto-install-peers=true
